
extends layout
block content

    .container
        div.nav.row
            h1.col-md-8 Dossier
            h2.col-4: a.btn.btn-info#edit_link(href="edit/") Modifier

        div.row
            #info-dossier
                table.table
                    thead
                        tr
                            th Nom
                            th Prénom
                            th Code Permanent
                            th Sexe
                            th Date naissance
                    tbody
                        tr
                            td#nom
                            td#prenom
                            td#codePermanent
                            td#sexe
                            td#dateNaissance


            br
            div#info-inscriptions
                h3 Inscriptions
                table.table.table-striped
                    thead
                        tr
                            th Sigle
                            th Groupe
                            th Session
                            th Note Finale
                    tbody
            br
            div#info-coursReussis
                h3 Cours Réussi
                ul




    block scripts
        script(src='/javascripts/consult.js')



