extends layout

block content
  #message(style='display:none')
    span
  .container
    h1 Modifier dossier
    #newForm
        fieldset
            legend Details du dossier
            div.panel.panel-green.margin-bottom-40
            div.panel-body
                form.form-horizontal(role="form")
                    div.form-group
                        label.col-md-2.control-label Code permanent:
                        div.col-md-6
                            input.form-control#codePermanent(type='text', name="cp", placeholder='Code Permanent')
                    div.form-group
                        label.col-md-2.control-label Nom:
                        div.col-md-6
                            input.form-control#nom(type='text', placeholder='Nom')
                    div.form-group
                        label.col-md-2.control-label Prénom:
                        div.col-md-6
                            input.form-control#prenom(type='text', placeholder='Prénom')
                    div.form-group
                        label.col-md-2.control-label Date naissance
                        div.col-md-6
                            input.form-control#dateNaissance(type='text', placeholder='Date Naissance')


                    label.col-md-2.control-label Sexe:
                    div.col-md-10
                        div.radio
                            label
                                input#sexe(type='radio', name='sexeGroupe', value='1', checked=true)
                                | Homme
                        div.radio
                            label
                                input#sexe(type='radio', name='sexeGroupe', value='2', checked=false)
                                | Femme
                    div.row
                        div.col-md-offset-5
                            div.col-md-2
                                button.btn.btn-default(type="button")#suppButton Supprimer

    block scripts
        script(src='/javascripts/edit_dossier.js')

