extends layout

block content
    .containter
        div.row.col-md-offset-1
            div.nav.row
                h1.col-md-8 Liste des dossier
                h2.col-4: a.btn.btn-info#edit_link(href="new") Nouveau dossier

            hr.devider.devider-dotted
            .row
                div
                    table.table.table-striped#table_dossiers
                        thead
                            tr
                                th Code permanent
                                th Nom
                                th Prénom
                                th Date naissance
                                th Lien
                        tbody

     block scripts
        script(src='/javascripts/index_page.js')
