doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/support/jquery-2.1.1.min.js')
    //script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/lib/sugar.min.js')
    script(src='/lib/jquery-ui.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/javascripts/commun.js')
    div#message(style="display:none")
        span
    .container.row
        ul.nav.nav-pills( role="tablist")
                li.active: a(href="/") Home
        block content


