doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/support/jquery-2.1.1.min.js')
    script(src='/javascripts/commun.js')
    block content
